<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
    <h1>{{title}}</h1>
    <div class="main">
      <div class="inside">
      <label for="inpt">Enter the temperature value :</label>
      <input class="first" type="number" placeholder="Degree" #inpt>
      <br><br>
      <label for="choice">Type : </label>
      <select #choice class="drpdn">
        <option value="f">Farenheit to Celcius</option>
        <option value="c">Celcius to Farenheit</option>
      </select>
      <br><br><br>
      <button id="btn" (click)="convert(+inpt.value,choice.value)">Convert</button><br><br>
      <p class="result">Result:&nbsp;&nbsp;&nbsp;{{final}}</p>
      </div>
    </div>
</body>
</html>